{% extends "base.html" %}
{% block header %}
  <header>
      <div class="add-drug-header">
        <h1 class="add-drug-title">医院药品进销存管理系统</h1>
        <div class="add-drug-button">库存状态</div>
      </div>
  </header>
{% endblock %}
{% block main %}
  <main>
    <div class="table-title">{{title}}</div>
    <table cellspacing="0" class="expired-table">
      <tr>
        {% for it in order %}
          <th>{{label[it]}}</th>
          {% else %}
          <th>无标题</th>
        {% endfor %}
      </tr>
      {% for item in data %}
        <tr>
          {% for it in order %}
            <td>{{item[it]}}</td>
            {% else %}
            <td>无数据</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </main>
  <script src="/static/js/util.js"></script>
{% endblock %}