<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="node,html,manager,system">
  <meta name="author" content="@willking">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/index.css">
  <title>医院药品进销存管理系统</title>
</head>
<body>
  <header>
    <div class="store-header">
      <h1 class="main-page-title">医院药品进销存管理系统</h1>
      <ul class="hospital-menu">
        <li>登录</li>
        <li class=".select-list">添加药品</li>
        <li>入库记录</li>
        <li>出库记录</li>
        <li>采购记录</li>
        <li>过期药品</li>
        <li>库存状态</li>
      </ul>
    </div>
  </header>
  <main>
    <table cellspacing="0" class="store-table">
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>厂家</th>
        <th>规格</th>
        <th>保质期</th>
        <th>价格</th>
        <th>供货商</th>
        <th>供货地址</th>
        <th>供货联系方式</th>
        <th>用药说明</th>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
    </table>
  </main>
  <script src="../js/util.js"></script>
  <script src="../js/mainPage.js"></script>
</body>
</html>