{% extends "base.html" %}
{% block header %}
  <header>
    <div class="store-header">
      <h1 class="main-page-title">医院药品进销存管理系统</h1>
      <ul class="hospital-menu">
        <li>登录</li>
        <li class=".select-list">添加药品</li>
        <li>入库记录</li>
        <li>出库记录</li>
        <li>采购记录</li>
        <li>过期药品</li>
        <li>库存状态</li>
      </ul>
    </div>
  </header>
{% endblock %}
{% block main %}
  <main>
    <div class="table-title">{{title}}
      <button onclick="exportExcel('/reserve')" class="export-button">导出</button>
    </div>
    <table cellspacing="0" class="store-table" title="点击相应单元格进行编辑">
      <tr>
        {% for it in order %}
          <th>{{label[it]}}</th>
          {% else %}
          <th>无标题</th>
        {% endfor %}
      </tr>
      {% for item in data %}
        <tr>
          {% for it in order %}
            {% if it === 'edit' %}
            <td style="color: #0066FF; text-decoration: underline; cursor: pointer;" onclick="saleDrug(this, '/sale/drug')">{{item[it]}}</td>
            {% elif it === 'del' %}
            <td style="color: #E80000; text-decoration: underline; cursor: pointer;" onclick="delOperate(this, '/delete/drug')">{{item[it]}}</td>
            {% elif it === 'id' %}
            <td>{{item[it]}}</td>
            {% else %}
            <td contenteditable onblur="editOperate(this, 'reserve', 10, '/put/drug')">{{item[it]}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </main>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/mainPage.js"></script>
{% endblock %}
