{% extends "base.html" %}
{% block header %}
  <header>
      <div class="add-drug-header">
        <h1 class="add-drug-title">医院药品进销存管理系统</h1>
        <div class="add-drug-button">库存状态</div>
      </div>
  </header>
{% endblock %}
{% block main %}
  <main>
    <div class="table-title">{{title}}
      <button onclick="exportExcel('/output')" class="export-button">导出</button>
    </div>
    <table cellspacing="0" class="output-table"  title="点击相应单元格进行编辑">
        <tr>
            {% for it in order %}
              <th>{{label[it]}}</th>
              {% else %}
              <th>无标题</th>
            {% endfor %}
          </tr>
          {% for item in data %}
            <tr>
              {% for it in order %}
                {% if it === 'edit' %}
                <td style="color: #0066FF; text-decoration: underline; cursor: pointer;" onclick="ediOperate(this, '/put/output')">{{item[it]}}</td>
                {% elif it === 'del' %}
                <td style="color: #E80000; text-decoration: underline; cursor: pointer;" onclick="delOperate(this, '/delete/output')">{{item[it]}}</td>
                {% elif it === 'id' %}
                <td>{{item[it]}}</td>
                {% else %}
                <td contenteditable onblur="editOperate(this, 'output', 5, '/put/output')">{{item[it]}}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
    </table>
  </main>
  <script src="/static/js/util.js"></script>
  <script src="/static/js/mainPage.js"></script>
{% endblock %}