{% extends "base.html" %}
{% block header %}
  <header>
    <div class="add-drug-header">
      <h1 class="add-drug-title">医院药品进销存管理系统</h1>
      <div class="add-drug-button">库存状态</div>
    </div>
  </header>
{% endblock %}
{% block main %}
  <main>
    <table cellspacing="0" class="purchase-table">
      <tr>
        <th>采购编号</th>
        <th>供货商编号</th>
        <th>药品编号</th>
        <th>数量</th>
        <th>入库日期</th>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
      <tr>
        <td>12781278421421234234</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
        <td>127812784</td>
      </tr>
    </table>
  </main>
  <script src="../js/util.js"></script>
{% endblock %}